h1 {text-align: center;}
div#crossword {text-align: center; padding: 1em; font-size: 150%;}
table#crossword {
    margin: 1em auto;
    td {
        position: relative; /* to contain .num */
        width: 40px; height: 40px;
        border: 2px black solid;
        text-align: center;
        .num {
            font-size: 50%;
            position: absolute;
            top: 5px; left: 5px;
        }
    }
    .black {background: black;}
}
#crossword.toggleCells td {cursor: pointer;}

#controls {text-align: center;}
