extends base

block content
    #crossword.pure-g-r(ng-controller="CrosswordCtrl")
        #leftcol.pure-u-1-2
            block leftcol
                include puzzle
        #rightcol.pure-u-1-2
            block rightcol
                include clues
                include buttons
