extends base

block head_includes
    link(rel='stylesheet', href='css/normalize.css')
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/crossword.css')
    link(rel='stylesheet', href='bootstrap/css/bootstrap.css')
    script(src='js/lib/modernizr-2.6.1.min.js')

block scripts
    script(src="js/lib/jquery-1.10.2.min.js")
    // script(data-main="js/cryptical.js", src="js/lib/require-2.1.8.min.js")
    script(src="js/lib/angular-1.2.0rc1.min.js")
    // script(src="js/controllers.js")
    script(src="js/cryptical.js")
    // script(src="js/events.js")
    // script(src="js/navigation.js")

block content
    div.row-fluid
        div#header.span12
        block title

    div#crossword.row-fluid(ng-controller="CrosswordCtrl")
        div#leftcol.span8
            block leftcol
        div#rightcol.span4
            block rightcol
