.buttons(ng-controller="ButtonsCtrl")

    h4 Local storage
    button(ng-click="load_local()").pure-button Load
    button(ng-click="save_local()").pure-button Save

    h4 Edit puzzle
    button.pure-button(
        ng-click="crossword.toggleCells = !crossword.toggleCells",
        ng-class="(crossword.toggleCells) ? 'pure-button-active' : ''"
        ) Toggle black cells
    button.pure-button(ng-click="refreshClues()") Refresh clues
    
    h4 New puzzle
    button.pure-button(ng-click="load(crossword.blank())") Empty crossword
    button.pure-button(ng-click="load(crossword.random())") Random crossword
    .dimensions
        input(ng-model="crossword.width")
        | ×
        input(ng-model="crossword.height")
