.buttons(ng-controller="ButtonsCtrl")
    h4 Load data
    button(ng-click="load_random()").pure-button Random grid
    // button(ng-click="load_url('/sample.json')").pure-button AJAX sample.json
    button(ng-click="load_local()").pure-button Local storage
    h4 Save data
    button(ng-click="save()").pure-button AJAX
    button(ng-click="save_local()").pure-button Local storage
    h4 Edit puzzle
        button(ng-click="crossword.toggleCells = !crossword.toggleCells", ng-class="(crossword.toggleCells) ? 'pure-button-active' : ''").pure-button Toggle black cells
