.clues
    h4 Clues
    .pure-g-r
        .pure-u-1-2(ng-repeat="(direction, list) in crossword.clues", ng-class="direction")
            h5 {{direction}}
            ol
                li(ng-repeat="clue in list | sortObjectKeys", value="{{clue.num}}")
                    input(ng-model="clue.content")
                    span.length  ({{clue.length}})
