extends 2col

block title
    h1 cryptical

block leftcol
    h1.title {{crossword.title}}
    h2.author {{crossword.author}}
    table(contenteditable, ng-model="crossword")
        tbody
            tr(ng-repeat="row in crossword.cells")
                    td(ng-repeat="cell in row", ng-bind="cell.char", ng-class="cell.class")

block rightcol
    h4 Load data
    button(ng-click="crossword.randomise()") Random grid
    button#ajaxLoad.btn AJAX sample.json
    button#localLoad.btn Local storage
    h4 Save data
    button#ajaxSave.btn Save AJAX
    button#localSave.btn Save to local storage
    h4 Edit puzzle
    button#toggleCells.btn Toggle black cells</div>
