h2 Title 
    input.title(ng-model="crossword.title")
h3 Author 
    input.author(ng-model="crossword.author")
table
    tbody
        tr(ng-repeat="row in crossword.cells")
            td(ng-repeat="cell in row", ng-class="cell.class", ng-click="!crossword.toggleCells || cell.toggle()")
                span.num(ng-if="cell.num") {{cell.num}}
                input(ng-model="cell.char", oneCharOnly, ng-change="cell.clean()")
