---
title: crossword example
---

.row-fluid
    .span12
        %h1 example

.row-fluid
    .span8
        %table#crossword
            %tbody
                %tr
                    %td{ :style => "width: 500px;" }
                        Load a puzzle using the options on the right.
    .span4
        %h4 Load data
        %button#random.btn Random grid
        %button#ajaxLoad.btn AJAX sample.json
        %button#localLoad.btn Local storage
        %h4 Save data
        %button#localSave.btn Save to local storage
        %h4 Edit puzzle
        #button#toggleCells.btn Toggle black cells
